.news-posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  background: beige;
  border-radius: 10px;

  img{
    width: 350px;
    border-radius: 15px;
  }
  margin: 15px;
  padding: 10px;
}
.card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
