<div class="forms-logination">
  <div class="login">
    <form>
      <h3>Login</h3>
      <input type="text">
      <h3>Password</h3>
      <input type="text">
      <div class="btn-login">
        <button>Login</button>
        <button>Forgot Password</button>
      </div>
    </form>
  </div>
  <div class="registration">
    <form>
      <h3>Name</h3>
      <input type="text">
      <h3>Login</h3>
      <input type="text">
      <h3>Age</h3>
      <input type="text">
      <h3>Email</h3>
      <input type="text">
      <h3>Password</h3>
      <input type="text">
      <div class="btn-regist">
        <input type="checkbox" >
        <button>Registrate</button>
      </div>
    </form>
  </div>
</div>
<!--Todo-->
<!--Підключити реєстрацію  та логінацію -->
